/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'DM Sans', sans-serif;
  background: hsl(0, 0%, 98%);
  color: hsl(0, 0%, 7%);
}

/* CENTER PAGE */
.page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* BENTO GRID */
.bento {
  /*width: 1440px;*/
  max-width: 1440px;
  width: 100%;
  /*padding: 24px;*/

  display: grid;
  gap: 24px;
  grid-template-columns: 253px repeat(3, 1fr);

  justify-content: center;

  /* 1 narrow + 3 equal columns*/
  grid-template-columns: 253px 255px 255px 255px;

  /* base height unit*/
  grid-template-rows: 160px 160px 160px 160px;


}

/* SHARED CARD STYLES */
.card {
  border-radius: 16px;
  padding: 24px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* trying something here 
.text {
  font-size: 30px;
  font-weight:600;
  line-height: 1;
  margin-bottom: 20px;
} */

.card p{
  font-size: 30px;
  font-weight:600;
  line-height: 1;
  margin-bottom: 20px;
}


/*
.card img {
  max-width: 100%;
  max-height: 65%;
  object-fit: contain;
}
  */

/* LEFT COLUMN */
#create {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  background: hsl(31, 66%, 93%);
}

#create span {
  color: hsl(256, 67%, 59%);
}

#write {
  grid-column: 1;
  grid-row: 3 / 5;
  background: hsl(39, 100%, 71%);
}

/* CENTER HERO */
#social {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
  background: hsl(256, 67%, 59%);
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
  /*display: flex;   already inherited from .card and this will throw off my card component layout*/
  /*flex-direction: column;  already inherited from .card and this will throw off my card component layout*/
}

#social h1 {
  font-size: 60px;
  line-height: 1;
  font-weight: lighter;
}

#social h1 span:first-of-type {
  color: hsl(39, 100%, 71%);
}

#social h1 span:last-of-type {
  font-style: italic;
}
 
.stars {
  width: 180px;      /* shrink proportionally */
  height: auto;      /* keep aspect ratio */
  display: inline-block; /* respects text-align: center on parent */
  /*margin: 12px 0;    optional vertical spacing */
  margin-top: 24px;
  margin-bottom: 10px;
  max-width: 50%;
}

#social p{
   opacity: 0.6;
   font-size: smaller;
   font-weight: lighter;
}
/*
.stars {
  margin: 12px 0;
}
*/
/*
.sub {
  opacity: 0.9;
}
*/
/* CENTER SMALL CARDS */
#manage {
  grid-column: 2;
  grid-row: 3;
  background: white;

    overflow: hidden;
}

#manage p{
  font-size: larger;
  margin-top: 20px;
}

#manage img{
margin-top: 15px;
box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
border-radius: 24px;
}


#maintain {
  grid-column: 3;
  grid-row: 3;
  background: hsl(39, 100%, 71%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 0;
}

#maintain img{
  max-width: 100%;
  max-height: 70%;
  margin-bottom: 0;
  object-fit: contain;
  margin-top: auto;   /* pushes image downward */
  
}



/* RIGHT COLUMN */
#schedule {
  grid-column: 4;
  grid-row: 1 / 4;
  background: hsl(254, 88%, 90%);
}

#schedule img {
  width: 110%;
  height: 100%;
  margin-bottom: 0;
  object-fit: contain;
  margin-right: auto;   /* pushes image downward */
}

#faster {
  grid-column: 2;
  grid-row: 4;
  background: white;
}

#faster > p{
  font-size: smaller;
  font-weight: lighter;
  line-height: .5;
  margin-top: 5px;
}

#faster img{
  width: 60%;
  height: 60%;
  margin-top: 10px;
}

#faster h2 {
  font-size: 48px;
  font-weight:500;
}

#grow {
  grid-column: 3 / 5;
  grid-row: 4;
  background: hsl(256, 67%, 59%);
  color: white;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.growth {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    object-fit: contain;
}